body {
    background-color: #615a59; /* gray background */
    color: #ffffff; /* white  text */
    font-family: 'Times New Roman', 'arial', sans-serif;
    margin: 0;
}

header,main {
    padding:20px;
}

header {
    background-color:#da9411;
    color: rgb(255, 255, 255);
    text-align: center;
}

nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
